*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    /* position: absolute; */
    height: 800px;
    left: 0px;
    top: 0px;
    background: url("../img/fondo_inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}
header .nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
    flex-wrap: wrap;
    align-items: center;
}
header .nav .logo-container{
    margin-left: 30px;
}
header .nav .nav-link{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#toggler, .nav label{
    display: none;
}
header .nav .nav-link a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}
header .container{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 90%;
    margin: 0 auto;
    align-content: stretch;
    justify-content: center;
}
header .container .banner-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .container .banner-texto h2{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}
header .container .banner-texto h2 span{
    -webkit-text-stroke: 1px #FFF;
    color: transparent;
}
header .container .banner-texto p{
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
}
header .descenso{
    width: 100%;
    display: flex;
    place-content: center;
}
header .descenso .bx{
    font-size: 50px;
    color: #fff;
    position: absolute;
    width: 39px;
    height: 37px;
    top: 720px;
}

.marcas{
    width: 90%;
    margin: 10% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



@media screen and (max-width: 700px){
    header{
        height: 600px;
    }
    header .nav{
        /* flex-direction: column; */
        align-items: center;
        margin: 10px auto;
        margin-bottom: 50px;
        width: 90%;
    }
    header .nav .logo-container{
        margin: 0;
    }
    header .nav .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    header .nav .nav-link{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        gap: 20px;
    }
    .nav label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
    
    header .nav label .bx{
        font-size: 3rem;
    }
    header .nav .nav-link .nav-item a{
        text-decoration: underline;
    }
    header .container{
        display: block;
    }
    header .container .banner-img{
        display: none;
    }
    header .container .banner-texto{
        width: 100%;
    }
    header .container .banner-texto h2{
        font-size: 40px;
        text-align: center;
    }
    header .container .banner-texto p{
        font-family: 'Roboto';
        font-size: 20px;
    }
    header .descenso .bx{
        top: 520px;
    }
}